section.friends h1{
  font-size: 25px;
  font-weight: bold;
}

section.friends div.friends-list > div{
  padding: 20px 0;
  font-size: 18px;
  border-top: 1px solid black;
  position: relative;
  clear: both;
}

section.friends div.friends-list > div > span{
  width: 200px;
  display: inline-block;
}

